.ContactsText1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 43px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 0px 10px #005AAB;
    margin-bottom: 0;
}

.ContactsText2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-bottom: 30px;
    margin-top: 10px;
}

.ContactsText3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 22px;
    color: #FFFFFF;
}

.ContactsText4{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}

.ContactsText4>p{
    margin-top: 10px;
    margin-bottom: 0;
}

.Contacts{
    padding: 0 112px;
    display: flex;
    flex-direction: column;
}

.ContactsForm{
    display: flex;
    flex-direction: column;

}

.ContactsFormText{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 22px;
    color: #FFFFFF;
}

.ContactsTextAndForm{
    display: flex;
    justify-content: space-between;

    max-width: 1200px;
}

.ContactsText{
    margin-right: 100px;
}

@media (max-width: 768px) {
    .Contacts{
        padding: 0 50px;
    }
    .ContactsText{
        margin-right: 0;
    }
    .nth{
        display: inline-block;
        margin-right: 45px;
    }
}

@media (max-width: 575px) {
    .Contacts{
        padding: 0 25px;
    }
    .ContactsText1{
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }

    .ContactsText2{
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin: 6px 0 20px 0;
    }

    .ContactsText3{
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 10px;
    }

    .ContactsText4{
        font-size: 14px;
        line-height: 17px;
        display: inline-block;
        margin-top: 0;
    }
    .ContactsText{
        margin-right: 0;
    }
    .ContactsFormText{
        font-size: 14px;
        line-height: 17px;
    }
    .ContactsText4 p{
        display: block;
        margin-right: 45px;
    }
    .ContactsForm{
        width: 100%;
    }
}

@media (max-width: 1268px) {
    .ContactsTextAndForm{
        flex-wrap: wrap;
    }
}