.Logo{
    display: flex;
    align-items: center;
}

.LogoText{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: white;
}

img{
    width: 60px;
    height: 60px;
    margin-right: 40px;
}

@media (max-width: 575px) {
    .Logo img{
        margin: 0 20px;
        width: 30px;
        height: 30px;
    }
    .LogoText{
        font-size: 14px;
        line-height: 17px;
    }
}